{% extends "page.html" %}
{% block content %}

<div class="contacts">
  <div class="contact-card">
    <div class="contact-card__image">
      <img src="./images/damien-new.jpg" alt="" />
    </div>
    <div class="contact-card__title">
      Software Engineer
    </div>
    <div class="contact-card__name">
      Damien Retzinger
    </div>
    <div class="contact-card__description">
      <p>I graduated from Case Western Reserve University with a major in Mathematics.</p>
      <p>This website is a senior design project with my instructor <a href="http://www.case.edu/artsci/math/singer/home.html">David Singer</a>.</p>
      <p>You can contact me via my Case Western email: <a href="mailto:damien.retzinger@case.edu">damien.retzinger@case.edu</a></p>
    </div>
  </div>
  <div class="contact-card">
    <div class="contact-card__image">
      <img src="./images/mackyla-new.jpg" alt="" />
    </div>
    <div class="contact-card__title">
      Web Editor
    </div>
    <div class="contact-card__name">
      MacKyla Patterson
    </div>
    <div class="contact-card__description">
      <p>I'm MacKyla Patterson (CWRU class of 2015), a mathematics student and part-time webeditor
        who will work with IBM in Dublin, OH, after graduation.</p>
      <p>
        For my senior project, also advised by David Singer, I've become primary maintainer
        of this site. Over the span of a year, I will add more web pages for
        Number Theory and Cryptography.
      </p>
			<p>
        If you would like to contact me, send an email to my Case ID:
        <a href="mailto:mackyla.patterson@case.edu">mackyla.patterson@case.edu</a>
      </p>
    </div>
  </div>
  <div class="contact-card">
    <div class="contact-card__image">
      <img src="./images/hannah-new.jpg" alt="" />
    </div>
    <div class="contact-card__title">
      Web Editor
    </div>
    <div class="contact-card__name">
      Hannah Olson-Williams
    </div>
    <div class="contact-card__description">
      <p>My name is Hannah Olson-Williams. After I graduate from CWRU in May 2016,
        I will serve as a Peace Corps volunteer in Lesotho where I will teach
        secondary math.</p>
      <p>
        Like Damien and MacKyla, I am a mathematics student at
        CWRU, and I have become maintainer of this webpage for my senior project
        advised by Dr. David Singer.
      </p>
      <p>Contact me via email:
        <a href="mailto:hannah.olson-williams@case.edu">hannah.olson-williams@case.edu</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
