{% extends "page.html" %}
{% block content %}

<div class="small">
   <h2 class="blueBox" id="NumberTheory">Number Theory</h2>
</div>
<div class="fourColumnHorizontal">

        <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/euclideanAlgorithm.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/euclideanAlgorithm.png" alt="Euclidean Algorithm"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/modArithmetic.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/modArithmetic.png" alt="Modular Arithmetic"/></a>
    	</div>
    </div>

 <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/modInverse.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/modInverse.png" alt="Modular Inverse"/></a>
    	</div>
    </div>

   	<div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/chineseRT.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/chineseRT.png" alt="Chinese Remainder Theorem"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/factor.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/factor.png" alt="Factorization"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/totientFunction.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/totientFunction.png" alt="Euler Totient Function"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/primalityTests.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/primalityTests.png" alt="Primality Tests"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/quadraticResidue.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/quadraticResidue.png" alt="Quadratic Residue"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/legendreSymbol.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/legendreSymbol.png" alt="Legendre Symbol"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/jacobiSymbol.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/jacobiSymbol.png" alt="Jacobi Symbol"/></a>
    	</div>
    </div>
</div>

<div class="small">
<h2 class="blueBox" id="Cryptography" style="clear:left">Cryptography</h2>
</div>

<div class="fourColumnHorizontal" style="clear:left">
	<div class="quarters">
    	<div class="box">
   		<a href="http://www.case.edu/artsci/math/singer/Sage/primitiveRoots.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/primitiveRoots.png" alt="Primitive Roots"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/modExponent.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/modExponent.png" alt="Modular Exponentiation"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/ellipticCurves.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/ellipticCurves.png" alt="Elliptic Curves"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/pohligHellman.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/pohligHellman.png" alt="Pohlig Hellman"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/diffieHellman.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/diffieHellman.png" alt="Diffie Hellman"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="http://www.case.edu/artsci/math/singer/Sage/elGamal.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/elGamal.png" alt="elGamal"/></a>
    	</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="http://www.case.edu/artsci/math/singer/Sage/vigenere.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/vigenere.png" alt="Vigenere Cipher"/></a>
		</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="http://www.case.edu/artsci/math/singer/Sage/pollardsPminus1.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/pollardsPminus1.png" alt="Pollard's p-1"/></a>
		</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="http://www.case.edu/artsci/math/singer/Sage/alphabetfreq.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/alphabetfreq.png" alt="Alphabet Frequency"/></a>
		</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="http://www.case.edu/artsci/math/singer/Sage/ngramfreq.shtml"><img src="http://www.case.edu/artsci/math/singer/Sage/images/ngramfreq.png" alt="n-gram Frequency"/></a>
		</div>
	</div>

 </div>

{% endblock %}
