{% extends "page.html" %}
{% block content %}

<div class="small">
   <h2 class="blueBox" id="NumberTheory">Number Theory</h2>
</div>
<div class="fourColumnHorizontal">

        <div class="quarters">
    	<div class="box">
    	<a href="./euclidean-algorithm.html"><img src="./images/euclideanAlgorithm.png" alt="Euclidean Algorithm"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="./mod-arithemetic.html"><img src="./images/modArithmetic.png" alt="Modular Arithmetic"/></a>
    	</div>
    </div>

 <div class="quarters">
    	<div class="box">
    	<a href="./mod-inverse.html"><img src="./images/modInverse.png" alt="Modular Inverse"/></a>
    	</div>
    </div>

   	<div class="quarters">
    	<div class="box">
    	<a href="./chinese-remainder-theorem.html"><img src="./images/chineseRT.png" alt="Chinese Remainder Theorem"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="./prime-factorization.html"><img src="./images/factor.png" alt="Factorization"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="./totient-function.html"><img src="./images/totientFunction.png" alt="Euler Totient Function"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="./primality-tester.html"><img src="./images/primalityTests.png" alt="Primality Tests"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="./quadratic-residue.html"><img src="./images/quadraticResidue.png" alt="Quadratic Residue"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="./legendre-symbol.html"><img src="./images/legendreSymbol.png" alt="Legendre Symbol"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="./jacobi-symbol.html"><img src="./images/jacobiSymbol.png" alt="Jacobi Symbol"/></a>
    	</div>
    </div>
</div>

<div class="small">
<h2 class="blueBox" id="Cryptography" style="clear:left">Cryptography</h2>
</div>

<div class="fourColumnHorizontal" style="clear:left">
	<div class="quarters">
    	<div class="box">
   		<a href="./primitive-root.html"><img src="./images/primitiveRoots.png" alt="Primitive Roots"/></a>
    	</div>
    </div>

    <div class="quarters">
    	<div class="box">
    	<a href="./mod-exponent.html"><img src="./images/modExponent.png" alt="Modular Exponentiation"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="./elliptic-curves.html"><img src="./images/ellipticCurves.png" alt="Elliptic Curves"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="./pohlig-hellman.html"><img src="./images/pohligHellman.png" alt="Pohlig Hellman"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="./diffie-hellman.html"><img src="./images/diffieHellman.png" alt="Diffie Hellman"/></a>
    	</div>
	</div>

    <div class="quarters">
    	<div class="box">
    	<a href="./el-gamal.html"><img src="./images/elGamal.png" alt="elGamal"/></a>
    	</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="./vigenere.html"><img src="./images/vigenere.png" alt="Vigenere Cipher"/></a>
		</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="./pollards-p-minus-one.html"><img src="./images/pollardsPminus1.png" alt="Pollard's p-1"/></a>
		</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="./alphabet-frequency.html"><img src="./images/alphabetfreq.png" alt="Alphabet Frequency"/></a>
		</div>
	</div>

	<div class = "quarters">
		<div class="box">
		<a href="./ngram-frequency.html"><img src="./images/ngramfreq.png" alt="n-gram Frequency"/></a>
		</div>
	</div>

 </div>

{% endblock %}
