{% extends "page.html" %}

{% set title = "Jacobi Symbol" %}

{% block content %}
<div class="threeColumnHorizontal">
	<div class="small">
    	<h2 class="blueBox" id="pageTitle">Jacobi Symbol</h2>
    </div>

<div class="big">
	<h2 style="visibility:hidden;">Hidden</h2>
 <div class="mycell" style="text-align:center;">
	 <script type="text/x-sage">
@interact
def f(U = ("Upper Jacobi", 2),L = ("Lower Jacobi: ", 21)):
	global r
	r = kronecker(U,L)
	pretty_print(html('$$({ %s \over %s }) = %s$$'%(latex(U),latex(L), latex(r))))
	 	</script>
 </div>
</div>
<div class="small">
 <h2 class="blueBox">Notes</h2>
 </div>
For any integer a and any positive odd integer n, the Jacobi symbol is the product of the Legendre symbols corresponding to the prime factors of n, that is
<img src="http://latex.codecogs.com/svg.latex?n=p_1^{\alpha_1}\cdots p_k^{\alpha_k}" border="none"/>.

        	<div class="notes"><img src="./images/mathFormulasLatex/jacobiSymbol/jacobi1.png" alt="Jacobi Values"/></div>
            <div class="notes"><img src="./images/mathFormulasLatex/jacobiSymbol/jacobi2.png" alt="Jacobi Values"/></div>
            <div class="notes"><img src="./images/mathFormulasLatex/jacobiSymbol/jacobi3.png" alt="Jacobi Values"/></div>
            <div class="notes"><img src="./images/mathFormulasLatex/jacobiSymbol/jacobi4.png" alt="Jacobi Values"/></div>

<!--p style="text-align:center;"><a href="http://en.wikipedia.org/wiki/Jacobi_symbol">Link to Wiki</a></p>-->
</div>

</div>

{% endblock %}
