{% extends "page.html" %}
{% block content %}
<div class="threeColumnHorizontal">
	<div class="small">
    	<h2 class="blueBox" id="pageTitle">Modular Multiplicative Inverse</h2>
    </div>

<div class="big">
 <div class="mycell" style="text-align:center;">

	<script type="text/x-sage">
@interact
def f(V=input_box(2, label="Argument"), U=input_box(13, label="Modulo") ):
	try:
		r = inverse_mod(V,U)
	except ZeroDivisionError: 	r = "DNE"
	pretty_print(	html('$${ %s}^{-1} mod \, %s = %s$$'%(latex(V),latex(U), r)))
	</script>

 </div>
    </div>

    <div class="small">
    <h2 class="blueBox">Notes</h2>
    </div>
<p>The modular multiplicative inverse of an integer <img src="http://latex.codecogs.com/gif.latex?a\mod n" style="border:none"/> is an integer x such that <img src="http://latex.codecogs.com/gif.latex?ax \equiv \mod n" style="border:none"/>. The modular multiplicative inverse <img src="http://latex.codecogs.com/gif.latex?x" style="border:none"/> of an integer may be denoted as <img src="http://latex.codecogs.com/gif.latex?a^{-1}" style="border:none"/>, and x exists if and only if the integers a and n are coprime, that is <img src="http://latex.codecogs.com/gif.latex?gcd(a,n) = 1" style="border:none"/>. </p>
If n is prime, then every nonzero integer a that is not a multiple of n has a modular inverse. By Euler's totient theorem, if a and n are coprime, then <img src="http://latex.codecogs.com/gif.latex?a^{\phi(n)} = 1 \mod n" style="border:none"/>, where <img src="http://latex.codecogs.com/gif.latex?\phi(n)" style="border:none"/> is the totient function. Thus, <img src="http://latex.codecogs.com/gif.latex?a^{\phi(n)} = 1 \mod n" style="border:none"/>, where <img src="http://latex.codecogs.com/gif.latex?a^{-1} = a^{\phi(n)-1}" style="border:none"/>.
    <div class="small">
    <p></p>
    </div>


</div>




{% endblock %}
