{% extends "page.html" %}

{% set title = "Modular Arithemetic" %}

{% block content %}
<div class="threeColumnHorizontal">
	<div class="small">
    	<h2 class="blueBox" id="pageTitle">Basic Modular Arithmetic</h2>
    </div>

<div class="big">
 <div class="mycell" style="text-align:center;">

	<script type="text/x-sage">
@interact
def f(V=input_box(2, type=str, label="Expression"), U=input_box(2, label="Mod") ):
	L = V.replace("{","(").replace("}",")")
	q = sage_eval(L)
	R = IntegerModRing(U)
	a = R(q)
	M = latex(L).replace("\\text{\\texttt","").replace("{\\char`\\^}","^{")
	pretty_print(	html("$$%s \mod  %s$$"%(M,latex(U)) + '=' +"$$%s$$"%(latex(a))))
	</script>

 </div>
    </div>
 <div class="small">
    <h2 class="blueBox">Notes</h2>
  </div>
If n is a positive integer, then two integers a and b are congruent modulo n if their difference is an integer multiple of n, that is a-b = kn for an integer k. The integer n is the modulus of the congruence and the integers congruent to a mod n create a congruence/residue class.<br>
The Sage command R = IntegerModRing(n) assigns R as a function mod n. Inputting arithmetic expressions into R as R(x), returns the residue class mod n. Example: for R = IntegerModRing(2) and x = 3*5, a = R(x) = R(3*5) = R(15) = 1.


    <div class="small">
    <p></p>
    </div>


</div>




{% endblock %}
