{% extends "page.html" %}
{% block content %}
<div class="threeColumnHorizontal">
	<div class="small">
    	<h2 class="blueBox" id="pageTitle">Modular Exponentiation</h2>
    </div>

<div class="big">
	<h2 style="visibility:hidden;">Hidden</h2>
 <div id="mycell" style="text-align:center;">

	<script type="text/x-sage">
	@interact
	def f(a = ("Argument", 13), x = ("Exponent", 67), N = ("Modulo", 2)):
		global b
		b = IntegerModRing(N)(a)^(x)
		html('$${%s}^{%s} mod \, %s = %s$$'%(latex(a),latex(x), latex(N), latex(b)))
	</script>

 </div>
</div>
<div class="small">
 <h2 class="blueBox">Notes</h2>
</div>

</div>

{% endblock %}
