{% extends "page.html" %}

{% set title = "Prime Factorization" %}

{% block content %}
<div class="threeColumnHorizontal">
	<div class="small">
    <h2 class="blueBox" id="pageTitle">Integer Factorization</h2>
    </div>

    <div class="big">
     <div class="mycell" style="text-align:center;">
	<script type="text/x-sage">
@interact
def f(U = ("Number to be factored", 1)):
	F = factor(U)
	pretty_print(	html('The Factorization of' + "$$%s$$"%(latex(U))+ 'is' + '$$%s$$'%(latex(F))))
	</script>
	 </div>
    </div>

    <div class="small">
    <p></p>
    </div>


</div>
{% endblock %}
