{% extends "page.html" %}

{% set title = "Primality Tester" %}

{% block content %}
<div class="threeColumnHorizontal">
	<div class="small">
    	<h2 class="blueBox" id="pageTitle">Primality Tester</h2>
    </div>

<div class="big">
 <div class="mycell" style="text-align:center;">

	<script type="text/x-sage">
@interact
def f(U = ("Possible Prime", 2)):
	r = U in Primes()
	if(r):
		pretty_print(html("%s is prime"%(U)))
	else:
		pretty_print(html("%s is not prime"%(U)))
	</script>

 </div>
</div>

<div class="small">
</div>

</div>

{% endblock %}
